.delete-alert.alert-button.alert-button-role-confirm {
    color: var(--ion-color-danger);
}

.custom-toolbar{
    --background: #929289;
    --ion-color-primary: #ffffff;
    --color: #ffffff
}

.custom-title{
    --color: #1d1d1b;
}

.custom-button{
    --ion-color-primary: #b22b48;
    --ion-color-primary-tint: #CE3657;
    --ion-color-primary-shade: #97253D;
}

.custom-toolbar-footer{
    --background: #929289;
}

.custom-delete-button{
    --ion-color-danger: #FAA613;
}

.custom-checkbox{
    --ion-color-primary: #b22b48;
}

.custom-content{
    --ion-background-color: #C1C1BC;
}


.custom-content::part(md){
    --ion-background-color: #000;
}

.custom-item{
    --ion-background-color: trasparent;
}

.custom-item-alert{
    --ion-text-color: #FAA613;
}

.custom-list{
    --ion-background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px !important;
    margin-top: 0 !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}

.custom-search{
    padding: 12px;
    --background: rgba(255, 255, 255, 0.5);
    --box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
    --border-radius: 10px;
}

.custom-alert{
    --background: #A2A29A;
    --ion-color-primary: #ffffff;
    --ion-color-danger: #FAA613;
    --ion-backdrop-color: rgba(209, 213, 219);
    --ion-color-step-100: #929289,
}


.md .custom-logo{
    margin-left: 0 !important;
}

