.gradient-background {
    background: linear-gradient(300deg,#929289, #FFFFFF);
    background-size: 120% 120%;
    animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.custom-button{
    --ion-color-primary: #b22b48;
    --ion-color-primary-tint: #CE3657;
    --ion-color-primary-shade: #97253D;
}