.gradientBackground {
    background: linear-gradient(300deg,#929289, #FFFFFF);
    background-size: 120% 120%;
    animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.customButton{
    --ion-color-primary: #b22b48;
    --ion-color-primary-rgb: 178,43,72;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #9d263f;
    --ion-color-primary-tint: #ba405a
}