.custom-add-modal .custom-toolbar{
    --background: #e0e0de;
    --ion-color-primary: #3F3F3A;
    --ion-border-color: #C1C1BC;
    --ion-text-color: #000;
    --border-width: 0 0 1px 0 !important;
}

.custom-add-modal .header-md::after{
    content: none;
}

.custom-add-modal .custom-button{
    --ion-color-primary: #b22b48;
    --ion-color-primary-tint: #CE3657;
    --ion-color-primary-shade: #97253D;
}

.custom-add-modal .custom-button .button::part(native){
    --background: #b22b48;
    --color: #fff
}

.custom-add-modal .custom-content{
    --ion-background-color: #e0e0de;
}

.custom-add-modal .custom-add-list{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.custom-add-modal .custom-input{
}

.custom-add-modal .custom-item{
    --ion-color-shade: #C1C1BC;
    --highlight-color-focused: #b22b48;
}

.custom-add-modal .custom-item::part(native){
    padding: 0;
}

.custom-add-modal .custom-list-header{
    padding-left: 12px;
}

.custom-add-modal{
    --max-height: 268px;
    --max-width: 90%;
    --border-radius: 10px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.custom-add-modal.md {
    --max-height: 312px;
}

.custom-add-checkbox{
    --ion-color-primary: #b22b48;
}

.custom-add-modal::part(backdrop) {
}

.custom-add-modal .custom-icon{
    color: #FAA613;
    margin-left: 5px;
}

.custom-popover{
    --background: #e0e0de;
    --color: #FAA613;
}

.custom-add-modal .custom-paper-icon{
    font-size: 24px;
}



