.custom-password-modal .custom-toolbar{
    --background: #e0e0de;
    --ion-color-primary: #3F3F3A;
    --ion-border-color: #C1C1BC;
    --ion-text-color: #000 !important;
    --border-width: 0 0 1px 0 !important;
}

.custom-password-modal .close-button{
    --color: #3F3F3A;
}

.custom-password-modal .header-md::after{
    content: none;
}

.custom-password-modal .custom-button{
    --ion-color-primary: #b22b48;
    --ion-color-primary-tint: #CE3657;
    --ion-color-primary-shade: #97253D;
    margin-left: 10px;
}

.custom-password-modal .custom-button .button::part(native){
    --background: #b22b48;
    --color: #fff
}

.custom-password-modal .custom-content{
    --ion-background-color: #e0e0de;
}

.custom-password-modal .custom-add-list{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.custom-password-modal .custom-input{
    min-width: calc(100% - 70px);
    margin-right: 0;
}

.custom-password-modal .custom-email-input{
    min-width: calc(100% - 12px);
}

.custom-password-modal .custom-item{
    --ion-color-shade: #C1C1BC;
    --highlight-color-focused: #b22b48;
}

.custom-password-modal .custom-item::part(native){
    padding: 0;
}

.custom-password-modal .custom-list-header{
    padding-left: 12px;
}

.custom-password-modal{
    --max-height: 132px;
    --max-width: 90%;
    --border-radius: 10px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.custom-password-modal.md {
    --max-height: 153px;
}

.custom-add-checkbox{
    --ion-color-primary: #b22b48;
}

.custom-password-modal .custom-icon{
    color: #FAA613;
    margin-left: 5px;
}

.custom-popover{
    --background: #e0e0de;
    --color: #FAA613;
}

.custom-password-modal .custom-paper-icon{
    font-size: 24px;
}